
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center text-decoration-underline">
                Create Account
            </h1>

            <img
                class="col-md-6 m-auto pt-4"
                src="https://camo.githubusercontent.com/7500b9cc1d0652febaab82b3a294b3898deb63bcfc23693adcc9c1236c3b9d5b/68747470733a2f2f6e6578742d617574682e6a732e6f72672f696d672f6c6f676f2f6c6f676f2d736d2e706e67"
                style="width:10%;">
            <br />
            <a href="/users/signup" class="btn btn-danger btn-block">SIGNUP</a>
            <br />
            <a href="/users/signin" class="btn btn-secondary btn-block">SIGNIN</a>

        </div>
    </div>
</div>
